%h1 Builds
- if user_signed_in?
  = link_to "Add a New Build", new_build_path
= render 'search'
= @builds.each do |build|
  .media
    %span
      %a.pull-left{:href => "#"}
        %img.media-object{:src => "...", :alt => "RACE"}
        vs.
        %img.media-object{:src => "...", :alt => "RACE"}
  .media-body
    %h4.media-heading= link_to build.title, build
