/* colors */
$white: #f0f0f0;
$black: #111010;
$gray: #cacaca;
$starcraft_blue: #528DD3;

/* section and text colors */
$background_color: $gray;
$navbar_background_color: #252525;
$navbar_link_color: $white;
$content_color: $white;
$content_text_color: $black;


/* Race Colors */
$protoss_color:#FDE142;
$terran_color:#F4A411;
$zerg_color:#742C90;

/* Race Selection Search Bar Colors */
$search_bar_color: $content_text_color;
$search_bar_text_color: $content_color;
