$background_color: #171616;
$navbar_background_color: #252525;
$navbar_link_color: #f0f0f0;
$content_color: #111010;
$content_text_color: #f0f0f0;
$starcraft_blue: #528DD3;

/* Race Colors */
$protoss_color:#FDE142;
$terran_color:#F4A411;
$zerg_color:#742C90;
